@font-face {
    font-family: "TT Lakes";
    src: local("TT Lakes"),
    url("./files/font/TTLakes/TTLakes-Regular.woff2") format("woff2"),
    url('./files/font/TTLakes/TTLakes-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display:swap;/*можно сделать optional как вариант*/
}

@font-face {
    font-family: "TT Lakes";
    src: local("TT Lakes"),
    url("./files/font/TTLakes/TTLakes-Bold.woff2") format("woff2"),
    url('./files/font/TTLakes/TTLakes-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: "TT Lakes";
    src: local("TT Lakes"),
    url("./files/font/TTLakes/TTLakes-Medium.woff2") format("woff2"),
    url('./files/font/TTLakes/TTLakes-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display:swap;
}
.header-menu__contacts-part, .header-menu__tech-part {
    list-style-type:none;
}
.link {
    text-decoration: none;
    color: #1B1C21;
    display: block;
}
.button {
    display: block;
    background-position: right;
    padding-right: 50px;
    margin-right: 32px;
    text-align: left;
    font-size: 16px;
    font-family: "TT Lakes", "Arial", "Roboto Light", sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.frontpage-image-container {
    margin: 16px;
}

@media (min-width: 20px) and (max-width: 767px){
    body {
        max-width: none;
    }
    .header-menu {
        background: white;
        max-height: 88px;
        display: flex;
        justify-content: space-around;
        flex-wrap:nowrap;
        border-bottom: 1px solid #41F6D7;
    }

    .header-menu__contacts-part {
        display: none;
    }

    .header-menu__tech-part {
        display: flex;
        justify-content: space-around;
        width: 40%;
    }

    .frontpage-image-container {
        margin: 16px 0;
    }

    .frontpage-image {
        width: 100%;
        height: auto;
    }

    .header-menu__link-status {
        border: 0;
        background-color: transparent;
        padding: 20px;
        background-image: url("./images/checkstatus-1.svg");
        background-position: center;
        background-repeat: no-repeat;
    }

    .header-menu__link-repair {
        border: 0;
        background-color: transparent;
        padding: 20px;
        background-image: url("./images/repair.svg");
        background-position: center;
        background-repeat: no-repeat;
    }

    .header-menu__link-repair_text-visible, .header-menu__link-status_text-visible {
        font-size: 0;
    }

    .header-menu__tech-part::before {
        content: '';
        background-image: url("./images/divider.svg");
        padding: 16px 2px;
        background-position: center;
        background-repeat: no-repeat;
    }
}    

@media (min-width: 768px) and (max-width: 1119px) {
    body {
        max-width: 100%;
    }

    .header-menu {
        background: white;
        max-height: 88px;
        display: flex;
        justify-content: space-around;
        flex-wrap:nowrap;
        border-bottom: 1px solid #41F6D7;
    }

    .header-menu__contacts-part {
        display: flex;
        justify-content: flex-end;
        flex-wrap:nowrap;
        width: 50%;
    }
    .header-menu__tech-part {
        display: flex;
        justify-content: space-around;
        width: 156px;
    }

    .content {
        display: flex;
        justify-content: space-between;
    }

    .article {
        width: 40%;
    }

    .frontpage-image-container {
        width: 50%;
    }

    .frontpage-image {
        border-radius: 10px;
    }

    .header-menu__link-repair_text-visible, .header-menu__link-status_text-visible {
        font-size: 0;
    }

    .header-menu__link-status {
        border: 0;
        background-color: transparent;
        padding: 20px;
        background-image: url("./images/checkstatus-1.svg");
        background-position: center;
        background-repeat: no-repeat;
    }

    .header-menu__link-repair {
        border: 0;
        background-color: transparent;
        padding: 20px;
        background-image: url("./images/repair.svg");
        background-position: center;
        background-repeat: no-repeat;
    }

    .header-menu__tech-part::before {
        content: '';
        background-image: url("./images/divider.svg");
        padding: 16px 2px;
        background-position: center;
        background-repeat: no-repeat;
    }

}

@media (min-width:1120px) {
    body {
        max-width: 100%;
    }

    .header-menu__contacts-part, .burger-menu-button, .logo {
        display: none;
    }

    .content {
        display: flex;
        justify-content: space-between;
    }

    .article {
        width: 50%;
    }

    .nav__list {
        flex-wrap: wrap;
        overflow-x:hidden;
    }

    .header {
        display: flex;
    }

    .header-menu {
        display: flex;
        width: 600px;
    }
    .title {
        justify-self: flex-start;
        order: -1;
    }

    .header-menu__tech-part {
        display: flex;
    }

    .header-menu__link-repair {
        border: 0;
        background-color: transparent;
        padding: 20px;
        background-image: url("./images/repair.svg");
        background-repeat: no-repeat;
    }

    .header-menu__link-status {
        border: 0;
        background-color: transparent;
        padding: 20px;
        background-image: url("./images/checkstatus-1.svg");
        background-repeat: no-repeat;
    }

    .header-menu__link-repair_text-visible, .header-menu__link-status_text-visible {
        background-position: right;
        padding-right: 50px;
        margin-right: 32px;
        text-align: left;
        font-size: 16px;
        font-family: "TT Lakes", "Arial", "Roboto Light", sans-serif;
        font-weight: 500;
    }

    .nav {
        clear: both;
        margin-left: auto;
        margin-right: auto;
    }

    .frontpage-image-container {
        width: 50%;
    }

    .frontpage-image {
        border-radius: 10px;
        width: 100%;
        height: auto;
    }

}
/*Основной блок разметки*/

body{
    font-family: "TT Lakes", "Arial", "Roboto Light",sans-serif ;
    font-weight: 400;
    font-size:32px;
    background: #F8F8F8;
    margin: 0;
}

.title {
    font-size: 28px;
    line-height: 40px;
    /* identical to box height, or 143% */
    letter-spacing: -0.6px;
    color: #1B1C21;
    background-image: url("./images/highlight.svg");
    background-repeat: no-repeat;

}

.header-title {
    padding-left: 16px;
    margin-left: 0;
    margin-bottom: 0;
}

.article {
    font-size: 14px;
    line-height: 18px;
    /* or 143% */
    color: #1B1C21;
    margin: 0 16px;
}

.logo {
    height: 52px;
    background-color: transparent;
}

.header__logo {
    margin: 8px;
}


.header-menu__link-call {
    border: 0;
    background-color: transparent;
    padding: 20px;
    margin: 0 16px;
    background-image: url("./images/phone.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.header-menu__link-message {
    border: 0;
    background-color: transparent;
    padding: 20px;
    margin: 0 16px;
    background-image: url("./images/chat.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.header-menu__link-contacts {
    border: 0;
    background-color: transparent;
    padding: 20px;
    margin: 0 16px;
    background-image: url("./images/path.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.burger-menu-button {
    border: none;
    background-color: transparent;
    padding: 20px;
    background-image: url("./images/burger.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.nav {
    white-space: nowrap;
    margin: 16px;
}

.nav__list {
    overflow-x: scroll;
    display: flex;
    align-items: baseline;
    margin-left: -60px;
    margin-top: 0;
    margin-bottom: 0;
}

.nav__item {
    padding: 12px 12px 12px 18px;
    font-size: 16px;
    cursor: pointer;
    display: block;
}

.nav__item:focus, .nav__item:hover {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background: #FFFFFF;
    padding: 8px 10px 8px 16px;
    color: #7E7E82;
}

.frontpage-image {
    max-width: 100%;
    height: auto;
}