@font-face {
    font-family: "TT Lakes";
    src: local("TT Lakes"),
    url("./files/font/TTLakes/TTLakes-Regular.woff2") format("woff2"),
    url('./files/font/TTLakes/TTLakes-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display:swap;/*можно сделать optional как вариант*/
}

@font-face {
    font-family: "TT Lakes";
    src: local("TT Lakes"),
    url("./files/font/TTLakes/TTLakes-Bold.woff2") format("woff2"),
    url('./files/font/TTLakes/TTLakes-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: "TT Lakes";
    src: local("TT Lakes"),
    url("./files/font/TTLakes/TTLakes-Medium.woff2") format("woff2"),
    url('./files/font/TTLakes/TTLakes-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display:swap;
}

@media (min-width: 20px) and (max-width: 767px){
    body {
        max-width: none;
    }
    .header-menu {
        background: white;
        max-height: 88px;
        display: flex;
        justify-content: space-between;
        flex-wrap:nowrap;
        border-bottom: 1px solid #41F6D7;
    }

         .header-menu__central-part {
          display: none;
          }

    .header-menu__left-part {
        display: flex;
        justify-content: space-around;
        width:60%;
    }
    .header-menu__right-part {
        display: flex;
        justify-content: space-around;
       width: 40%;
    }
    .article>.full-text, .article>.article__full-text__read-more {
        display: none;
    }
    .frontpage-image {
        width: 100%;
        height: auto;
    }
    div.frontpage-image-container {
        margin: 16px 0;
    }

    .header-menu__right-part>a {
        font-size: 0;
    }
}

@media (min-width: 768px) and (max-width: 1119px) {
    body {
        max-width: 100%;
    }
    .header-menu {
        background: white;
        max-height: 88px;
        display: flex;
        justify-content: space-between;
        flex-wrap:nowrap;
        border-bottom: 1px solid #41F6D7;
    }

    .header-menu__left-part {
        display: flex;
        justify-content: space-around;
        width:30%;
            }
    .header-menu__central-part {
        display: flex;
        justify-content: flex-end;
        flex-wrap:nowrap;
        width: 45%;
    }
    .header-menu__right-part {
        display: flex;
        justify-content: space-around;
        width: 15%;
    }
    .article>.full-text, .article>.article__full-text__read-more {
        display: none;
    }

    .main-section-container {
        display: flex;
        justify-content: space-between;
    }
    .article {
        width: 40%;
    }
    .frontpage-image-container {
        width: 50%;
    }

    .frontpage-image {
        border-radius: 10px;
    }

    .header-menu__right-part>a {
        font-size: 0;
    }


}

@media (min-width:1120px) {
    body {
        max-width: 100%;
    }
    .header-menu__central-part, .header-menu__left-part {
        display: none;
    }

    details>.article__read-more, .article>.article__short-text-paragraph {
        display: none;
    }
    .main-section-container {
        display: flex;
        justify-content: space-between;
    }
    .article {
        width: 50%;
    }

    .main-menu__container>.main-menu {
        flex-wrap: wrap;
        overflow-x:hidden;
    }
    .header-container {
        margin-top: 34px;
        display: flex;
        justify-content: space-between;
    }
    .header-menu__right-part>a {
        background-position: right;
        padding-right: 50px;
        margin-right: 32px;
        text-align: left;
        font-size: 16px;
        font-family: "TT Lakes", "Arial", "Roboto Light", sans-serif;
        font-weight: 500;
    }

    .header-menu {
        display: inline-block;
        float: right;
    }

    .title {
        display: inline-block;
        float:left;
    }

    .main-menu__container {
        clear: both;
        magrin-left: auto;
        margin-right: auto;
    }

    .frontpage-image-container {
        width: 50%;
    }

    .frontpage-image {
        border-radius: 10px;
        width: 100%;
        height: auto;
    }
}

body{
    font-family: "TT Lakes", "Arial", "Roboto Light",sans-serif ;
    font-weight: 400;
    font-size:32px;
    background: #F8F8F8;
    margin: 0;
}

.title {
    padding-left: 16px;
    font-size: 28px;
    line-height: 40px;
    /* identical to box height, or 143% */
    letter-spacing: -0.6px;
    color: #1B1C21;
    background-image: url("./images/highlight.svg");
    background-repeat: no-repeat;
    margin-left: 0;
    margin-bottom: 0;
}

.article {
    font-size: 14px;
    line-height: 18px;
    /* or 143% */
    color: #1B1C21;
    margin: 0 16px;
}
.burger-menu__header-menu {
    width: 320px;
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 20px;
    margin: -50px -20px 0 0;
}

.burger-menu__link-container {

    width: 100%;
    padding-left: 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 20px 0 0 0;
    border: 2px solid black;

}

.header-menu-link__close {
    border: none;
    background-color: transparent;
    padding: 20px;
    background-image: url("./images/close.svg");
    background-position: center;
    background-repeat: no-repeat;
}
.logo {
    height: 52px;
    background-color: transparent;
    margin: 8px;
}

.divider {
    background-image: url("./images/divider.svg");
    padding: 16px 2px;
    background-position: center;
    background-repeat: no-repeat;
}


.header-menu-link__search {
    border: 0;
    background-color: transparent;
    padding: 20px;
    background-image: url("./images/search.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.header-menu-link__checkstatus{
    border: 0;
    background-color: transparent;
    padding: 20px;
    background-image: url("./images/checkstatus-1.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.header-menu-link__repair {
    border: 0;
    background-color: transparent;
    padding: 20px;
    background-image: url("./images/repair.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.header-menu-link__call {
    border: 0;
    background-color: transparent;
    padding: 20px;
    margin: 0 16px;
    background-image: url("./images/phone.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.header-menu-link__message {
    border: 0;
    background-color: transparent;
    padding: 20px;
    margin: 0 16px;
    background-image: url("./images/chat.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.header-menu-link__contacts {
    border: 0;
    background-color: transparent;
    padding: 20px;
    margin: 0 16px;
    background-image: url("./images/path.svg");
    background-position: center;
    background-repeat: no-repeat;
}
.burger-menu__link__header-menu {
    text-decoration: none;
    font-size: 16px;
}
.burger-menu__link__header-menu:focus{
    display: block;
    border:4px #41F6D7;
    color: #7E7E82;
}
.burger-menu__link__header-menu:hover {
    border:4px #41F6D7;
    color: #7E7E82;
}

.burger-menu-button {
    border: none;
    background-color: transparent;
    padding: 20px;
    background-image: url("./images/burger.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.burger-menu-button:active {
    border:0;
}

.burger-menu-button:focus+.burger-menu__header-menu  {
    display: block;
}

.burger-menu-button:hover+.burger-menu__header-menu {
    border: none;
}

.burger-menu__link {
    font-size: 16px;
    color: #1B1C21;
    font-weight: 500;
}

li {
    list-style-type:none;
}
/*блок спойлера*/

.article__read-more::-webkit-details-marker {
    display: none;
}

.read-more {
    display: block;
    cursor: pointer;
    background-image: url("./images/expand.svg");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 24px;
    vertical-align: bottom;
    font-size: 16px;
    font-weight: 500;
}

details summary:focus {
    outline: none;
}
/*блок спойлера*/

.main-menu {
    overflow-x: scroll;
    display: flex;
    align-items: baseline;
    margin-left: -60px;
    margin-top: 0;
    margin-bottom: 0;

}

.main-menu__item:focus, .main-menu__item:hover {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background: #FFFFFF;
    padding: 8px 10px 8px 16px;
    color: #7E7E82;
}

.main-menu__item {
    font-size: 24px;
    padding: 12px 12px 12px 18px;
    white-space: nowrap;
    margin: 16px;
    cursor: pointer;
}

.frontpage-image {
    max-width: 100%;
    height: auto;
}

.frontpage-image-container {
    margin: 16px;
}

a {
    text-decoration: none;
    color: #1B1C21;
}
button {
    background-position: right;
    padding-right: 50px;
    margin-right: 32px;
    text-align: left;
    font-size: 16px;
    font-family: "TT Lakes", "Arial", "Roboto Light", sans-serif;
    font-weight: 500;
    cursor: pointer;
}