@font-face {
    font-family: "TT Lakes";
    src: local("TT Lakes"),
    url("./files/font/TTLakes/TTLakes-Regular.woff2") format("woff2"),
    url('./files/font/TTLakes/TTLakes-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display:swap;/*можно сделать optional как вариант*/
}

@font-face {
    font-family: "TT Lakes";
    src: local("TT Lakes"),
    url("./files/font/TTLakes/TTLakes-Bold.woff2") format("woff2"),
    url('./files/font/TTLakes/TTLakes-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: "TT Lakes";
    src: local("TT Lakes"),
    url("./files/font/TTLakes/TTLakes-Medium.woff2") format("woff2"),
    url('./files/font/TTLakes/TTLakes-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display:swap;
}
.contact-list, .service-list {
    list-style-type:none;
}
.link, .service-list__button_text-visible {
    text-decoration: none;
    color: #1B1C21;
    display: block;
}
.button {
    display: block;
    background-position: right;
    padding-right: 50px;
    margin-right: 32px;
    text-align: left;
    font-size: 16px;
    font-family: "TT Lakes", "Arial", "Roboto Light", sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.article__image {
    margin: 16px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
}

@media (min-width: 20px) and (max-width: 767px){
    .body {
        max-width: none;
    }
    .header {
            background: white;
            max-height: 88px;
            display: flex;
            align-items: center;
            flex-wrap:nowrap;
            border-bottom: 1px solid #41F6D7;
        }

    .contact-list {
        display: none;
    }

    .service-list {
        display: flex;
        justify-content: space-around;
        width: 156px;
        margin: auto;
    }

    .logo {
        margin: 10px auto 0 auto;
    }


    .article__image {
        min-width: 100%;
        height: auto;
        margin: auto -16px;

    }

    .article__frontpage-image {
        min-width: 100%;
        height: auto;
    }

    .service-list__link-status {
        border: 0;
        background-color: transparent;
        padding: 20px;
        background-image: url("./images/checkstatus-1.svg");
        background-position: center;
        background-repeat: no-repeat;
    }

    .service-list__link-repair {
        border: 0;
        background-color: transparent;
        padding: 20px;
        background-image: url("./images/repair.svg");
        background-position: center;
        background-repeat: no-repeat;
    }

    .service-list__button_text-visible {
        font-size: 0;
    }

    .service-list::before {
        content: '';
        background-image: url("./images/divider.svg");
        padding: 16px 2px;
        position: relative;
        left: -20px;
        background-position: center;
        background-repeat: no-repeat;
    }
}    

@media (min-width: 768px) and (max-width: 1119px) {
    .body {
        max-width: 100%;
    }

    .header {
        background: white;
        max-height: 88px;
        display: flex;

        align-items: center;
        flex-wrap:nowrap;
        border-bottom: 1px solid #41F6D7;
    }

    .contact-list {
        display: flex;
        justify-content: flex-end;
        flex-wrap:nowrap;
        width: 50%;
    }
    .service-list {
        display: flex;
        justify-content: space-around;
        width: 156px;
    }


    .article {
        display: flex;
        justify-content: space-between;
    }

    .article__content {
        width: 50%;
    }

    .article__image {
        width: 50%;
    }

    .article__frontpage-image {
        border-radius: 10px;
    }

    .service-list__button_text-visible {
        font-size: 0;
    }

    .service-list__link-status {
        border: 0;
        background-color: transparent;
        padding: 20px;
        background-image: url("./images/checkstatus-1.svg");
        background-position: center;
        background-repeat: no-repeat;
    }

    .service-list__link-repair {
        border: 0;
        background-color: transparent;
        padding: 20px;
        background-image: url("./images/repair.svg");
        background-position: center;
        background-repeat: no-repeat;
    }

    .header-menu__service-list::before {
        content: '';
        background-image: url("./images/divider.svg");
        padding: 16px 2px;
        position: relative;
        left: -20px;
        background-position: center;
        background-repeat: no-repeat;
    }

    .header__logo::before {
        content: '';
        background-image: url("./images/divider.svg");
        padding: 16px 2px;
        position: relative;
        left: -20px;
        background-position: center;
        background-repeat: no-repeat;
    }

}

@media (min-width:1120px) {

    .body_desktop-positioner {
        position:relative;
        margin: 0 auto;
        max-width: 1120px;
    }

    .contact-list, .burger-menu-button, .logo {
        display: none;
    }

    .article {
        display: flex;
        justify-content: space-between;
    }

    .article__content {
        width: 50%;
    }

    .nav__list {
        flex-wrap: wrap;
        overflow-x:hidden;
    }

    .header {
        display: flex;
        align-items: baseline;
    }

    .main__title {
        width: 400px;
          }

    .header-menu__service-list {
        position: absolute;
        top:-30px;
        right: 0;
        display: flex;
        justify-content: flex-end;
        width: 500px;
    }

    .service-list__link-repair {
        border: 0;
        background-color: transparent;
        padding: 20px;
        background-image: url("./images/repair.svg");
        background-repeat: no-repeat;
    }

    .service-list__link-status {
        border: 0;
        background-color: transparent;
        padding: 20px;
        background-image: url("./images/checkstatus-1.svg");
        background-repeat: no-repeat;
    }

    .service-list__button_text-visible {
        background-position: right;
        padding-right: 50px;
        margin-right: 32px;
        text-align: left;
        font-size: 16px;
        font-family: "TT Lakes", "Arial", "Roboto Light", sans-serif;
        font-weight: 500;
    }

    .nav {
        clear: both;
        margin-left: auto;
        margin-right: auto;
    }

    .article__image {
        width: 50%;
    }

    .article__frontpage-image {
        border-radius: 10px;
    }

}
/*Основной блок разметки*/

.body{
    font-family: "TT Lakes", "Arial", "Roboto Light",sans-serif ;
    font-weight: 400;
    font-size:32px;
    background: #F8F8F8;
    margin: 0;
}

.title {
    font-size: 28px;
    line-height: 40px;
    /* identical to box height, or 143% */
    letter-spacing: -0.6px;
    color: #1B1C21;
    background-image: url("./images/highlight.svg");
    background-repeat: no-repeat;

}

.main__title {
    padding-left: 16px;
    margin-left: 0;
    margin-bottom: 0;
}

.article {
    font-size: 14px;
    line-height: 18px;
    /* or 143% */
    color: #1B1C21;
    margin: 0 16px;
}

.contact-list__link-call {
    border: 0;
    background-color: transparent;
    padding: 20px;
    margin: 0 16px;
    background-image: url("./images/phone.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.contact-list__link-message {
    border: 0;
    background-color: transparent;
    padding: 20px;
    margin: 0 16px;
    background-image: url("./images/chat.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.contact-list__link-contacts {
    border: 0;
    background-color: transparent;
    padding: 20px;
    margin: 0 16px;
    background-image: url("./images/path.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.burger-menu-button {
    border: none;
    background-color: transparent;
    padding: 20px;
    background-image: url("./images/burger.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.header-menu__burger-menu-button {
    margin-left: 20px;
}

.nav {
    white-space: nowrap;
    margin: 16px;
}

.main__nav {
    margin-left: -50px;
    margin-top: 0;
    margin-bottom: 0;
}

.nav__list {
    overflow-x: scroll;
    display: flex;
    align-items: baseline;

}

.nav__list::-webkit-scrollbar {
    display: none;
}

.nav__list {
    scrollbar-width: none;
}

.nav__item {
    font-size: 16px;
    display: block;
}

.nav__link {
    padding: 10px 12px 10px 18px;
    cursor: pointer;
}

.nav__link:focus, .nav__link:hover {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background: #FFFFFF;
    padding: 8px 10px 8px 16px;
    color: #7E7E82;
}

.article__frontpage-image {
    width: 100%;
    height: auto;
}

.btn-more {
    font-family: "TT Lakes", "Arial", "Roboto Light", sans-serif;
    display: block;
    cursor: pointer;
    background-image: url("./images/expand.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-color: transparent;
    padding-left: 24px;
    vertical-align: bottom;
    font-size: 16px;
    font-weight: 500;
    border: none;
}